html, body, [type="text"] {
	color: #666;
}
header {
	width: 100%;
	padding: 1.5rem 0 1rem 0;
	/*margin-bottom: 10px;*/
	color: #FFF;
	background-color: #0292C0;
	border-bottom: 1px solid #047A96;
}
header p {
	margin: 5px 0 0 0;
}
.label {
	margin-right: 10px;
}
.template {
	display: none;
}
.menu-container {
	padding: 5px 0 5px 0;
	margin-bottom: 1rem;
	border-bottom: 1px solid #CACACA;
}
.footer-container {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: auto;
	max-height: 9rem;
	padding: 0.5rem 0 0.5rem 0;
	vertical-align: bottom;
	border-top: 1px solid #CACACA;
	background-color: #fff;
}
.em {
	font-weight: bold;
}
div.state-menu {
	padding-left: 0
}
.loader {
	position: absolute; top: 50%; text-align: center; width: 100%;
}
.content {
	display: none;
}
.info .message {
	font-family: consolas;
}